.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.header-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-right div {
    display: flex;
    
}
.header-right div a{
    margin-right: 30px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size:large;
}
.header-right div a:hover{
    color: orange;
    padding-top: 5px;
    padding-bottom: 5px;
}